<!DOCTYPE html>
<html>
<head>
    <title>Real-Time Chat</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>

<body>

<div class="chat-container">

    <div class="header">
        <h2>💬 Real-Time Chat</h2>

        <div>
            Welcome <b>{{ username }}</b>
            |
            <a href="/logout">Logout</a>
        </div>
    </div>

    <div id="chat-box" class="chat-box">

        {% for msg in messages %}
            <div class="message">
                <b>{{ msg.username }}</b>
                <p>{{ msg.content }}</p>
            </div>
        {% endfor %}

    </div>

    <div class="input-area">

        <input
            type="text"
            id="message"
            placeholder="Type a message...">

        <button onclick="sendMessage()">
            Send
        </button>

    </div>

</div>

<script>

const socket = io();

const username = "{{ username }}";

socket.on('receive_message', function(data){

    let box = document.getElementById('chat-box');

    box.innerHTML += `
        <div class="message">
            <b>${data.username}</b>
            <p>${data.message}</p>
        </div>
    `;

    box.scrollTop = box.scrollHeight;
});

function sendMessage(){

    let message =
        document.getElementById('message').value;

    if(message.trim() === ''){
        return;
    }

    socket.emit(
        'send_message',
        {
            username: username,
            message: message
        }
    );

    document.getElementById('message').value = '';
}

</script>

</body>
</html>